body{
    background-color: rgb(150, 183, 194);
  
}

.header{
  width:100%;
  margin: 0 auto;
  height: 100px;;
  box-sizing: border-box;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  
}

.img{
   width: 50px;
   border: 1px solid #ccc;
   border-radius:50%;
}

.menu{
    text-transform: uppercase;  
}

.div_name{
    width: auto;
    display:flex;
    align-items: center;
}
.name{
    color: 	#F4A460;
    text-transform: uppercase;
    margin-left:50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.div_name:hover{
     border-bottom: 3px solid #b28756; 
}

.banner{
    height:calc(100vh - 100px);
    background-color: #ccc;
    background-image: url('../imagens/newimages.webp');
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: top 20%;
}

.banner_area{
    display: flex;
    flex-direction: column;
    width:100%;
    min-height: 100%;
    color: #4f3222;
    text-transform: uppercase;
    justify-content:center;
    align-items: center;
    margin-left:150px;
    
}

.banner_area h1{
    text-transform: uppercase;     
    font-weight: bold;    
    font-size: 50px;
}


.separador{
    width:100%;
    margin: 0 auto;
    height: 10px;;
    box-sizing: border-box;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    
  }







.default{
    padding-top: 50px;
    padding-bottom: 50px;
}
.default .section_title,
.default .section_desc{
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;  /*Negrito*/
}

.default .section_title{
    font-size:20px;
}

.default .section_desc{
    font-size: 12px;
    color: #ccc;
    margin-top: 10px;
    margin-bottom: 40px;
}

.default .section_body{
    max-width:1140px; /* é a mesma que definimmos no nosso menu Àcima*/
    margin:auto;   /*Fazer ir pro meio*/
    
}

.default.light{
    background-color:#f7f7f7;
}
.deafult.light .section_title,
.default.light .section_body{
    color:#000;
}

.default.dark{
    background-color: #000;
}
.default.dark .section_title,
.default.dark .section_body{
    color:#fff;
}





section_body{
    display:flex;
}

 .aboutus{
  display:flex;
}
 .aboutus__left {
    flex:1;
}

.aboutus__left p{
    font-size: 14px;    /*tamanho da fonte*/
    line-height: 25px; /*Espaço entre as linhas do texto*/
}
.aboutus__right {
    width:520px;
    text-align: center; /* ajustando a imagem*/
}
.aboutus__right img{
  width:380px;
  box-shadow: 0px 5px 10px #333;  /*efeito sombra (ou seja, adcionando uma sombra na img)*/
}







    


 .section__projects {
    display: flex;
    flex-direction: column;
    align-items: center;
 }