body {
    padding: 0;
    margin: 0;
}

.header,
.footer {
    width: 100%;
    margin: 0;
    height: 80px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}


.footer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: #ddb764;
    font-size: 12px;
}

.img {
    width: 50px;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.div_name {
    width: auto;
    display: flex;
    align-items: center;
    font-size: 10px;
    max-width: 1200px;
}

.name {
    color: #ddb764;
    text-transform: uppercase;
    margin-left: 50px;
    font-family: 'abril'
}

.div_name:hover {
    border-bottom: 3px solid #2F4F4F;
}

.banner {
    height: calc(100vh - 100px);
    background-color: #ccc;
    background-image: url('../imagens/newimages.webp');
    width: 100%;
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: top 20%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.banner_area {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    color: #2F4F4F;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    margin-left: 150px;

}

.banner_area h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    color: #8B4513;
    box-shadow: 0px 5px 10px #333;
}

.banner_h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    color: #8B4513;
    box-shadow: 0px 5px 0px #333;
}






.text {
    font-size: 35px;
}

.text:hover {
    color: #fff;
}

.default {
    padding-top: 50px;
    padding-bottom: 50px;
}

.default .section_title,
.default .section_desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    /*Negrito*/
}

.default .section_title {
    font-size: 25px;
    color: #ddb764;
}

.default .section_desc {
    font-size: 12px;
    color: #ccc;
    margin-top: 10px;
    margin-bottom: 40px;
}

.section_desc:hover {
    color: #575151;
}

.default .section_body {
    max-width: 1140px;
    margin: auto;
    /*Fazer ir pro meio*/

}

.default.light {
    background-color: #f7f7f7;
}

.deafult.light .section_title,
.default.light .section_body {
    color: #000;
    font-family: 'alegreya';
}

.section_body {
    box-shadow: 0px 5px 10px #333;
    padding: 25px;

}

.section_body_dark {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
}


.default.dark {
    background-color: #1C1C1C;
    height: 100px;
}

.default.dark:hover {
    background-color: #696767;
}

.section_body p {
    display: flex;
    font-size: 20px;
    line-height: 30px;
}

.aboutus {
    display: flex;
}

.aboutus__left {
    flex: 1;
}

.aboutus__left p {
    font-size: 20px;
    line-height: 30px;
    /*Espaço entre as linhas do texto*/
}

.aboutus__right {
    width: 500px;
    text-align: center;
    /* ajustando a imagem*/
}

.aboutus__right img {
    width: 380px;
    box-shadow: 0px 5px 10px #333;
    /*efeito sombra (adcionando uma sombra na img)*/
}

.section__projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.default.dark,
.default.dark,
.section_body {
    color: #fff;
}























